<div class= "center jumbotron">
  <% if !logged_in? %>
    <%= link_to "Sign up now", signup_path,class: "btn btn-primary btn-xlarge sign-up-btn" %>
  <% else %>
  <div id='hello'>
  <%= link_to 'Hello,'+ current_user.username, user_path(current_user)  %>
  </div>    
  <% end %>
</div>