<div class= 'container'>
 <footer class = 'footer'>
   <small>
     Copyright &copy; <a href='google.com'>Blog</a> by <a href=#>Ashish Singh</a>
   </small>
   <nav>
     <ul>
      <li>
        <%= link_to "About", ""  %>  
      </li>
     </ul>
    </nav>   
  </footer>
<div>     